@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564657725685'); /* IE9 */
  src: url('iconfont.eot?t=1564657725685#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABwgAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqCEIIAATYCJAMICwYABCAFhG0HNBsqBhHVi2+yv0A2hgOtP6TDyO6J7eolTfZj6fK/kQvngKcGEyBTcAUkAAAAAEAE0VpZvTuHqB5JvpDkAPWrU2EVyWh8dFSEig9LIKEPIm/3e7OfC1qSBEKtQocMuW8tEAtQ2/85G+A3KsIU5RThAdpifsvpSzNy0yfM9QSPoruEAqh3yrUHdGCvAsPqIT0A8qQH7Y97p3+0PJD5gHJce9OkLsA1gALdA6PICqSAcmgYu8Al3CZQNWVDbG3P352SWIsCcSFLgk7lPJLE4mWhWLMziReocvbwPh3Pw/fHX9yYkCnkrKKD0Sbu3B/sJD73nI/AS0D7C8ixgUSc1Eb2pGDUXDXSzLGv/OCHzdeJvf55osjKrYMJyLknrsu71W9mIKGIcxiN8lBsW7+nVy3D+G/Nxx54o07zLxE3W5uPzQ1db5vz5t0lH9SGlC2VXB7s7fpr63zmwPj9ef72Z4yev48eL5vAp4dc4w/qZ6N8T9bg33J71iWdb2mzpHJrE5lz/Z5LqqoYw46u72MVgxdJhLLB69hKJlPIlS2gibgBBTWb3qKyc+VStW4X7q/puSZFqmDNXQCh7S1kmt5Dru0DmojfoGDoPxS1ow9VZ8GJNUvBZWrFGAjGED4gi6jWjl5UlP+JyaUMOMsPab/IbeYHx7SL8R3WyHOsaa+JK6JBM1WwBfdhWRI0TDlGYqYizcyydN2TzIiqjrJiDARjCB+QRVRrv7mo0us/MbmUAbfU1Nh/kdtscnBMuwe6k9S9au7lkfaauCIaNFMFW2DC0o4QNPXTcozETEeEmpmFGum+EnN9WfV1x6DKUmZhbwq19/IllzALyOh0AAAA') format('woff2'),
  url('iconfont.woff?t=1564657725685') format('woff'),
  url('iconfont.ttf?t=1564657725685') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564657725685#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-menu"],
[class*="el-icon-menu"]
{
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconNMStubiao-:before {
  content: "\e627";
}

